html, body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
}

body, body * {
  font-family: 'Roboto';
  font-size: 0.9rem;
}

.hidden, [data-show="false"], .container[data-show="false"] {
  display: none;
}

#content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  align-items: center;
  overflow: hidden;
}

button {
  cursor: pointer;
}

/*********
  TOAST
*********/

#toast {
  position: absolute;
  width: fit-content;
  top: 15px;
  right: 15px;
  display: none;

  background: dodgerblue;
  padding: 10px;
  border-radius: 10px;
}

#toast.logged-in {
  margin-top: 50px;
}
#toast.error {
  background: lightcoral;
}
#toast.success {
  background: lightseagreen;
}

#toast.show {
  display: block;
  box-shadow: 0px 0px 10px 3px #292929;
}

/****************
  WELCOME PAGE
****************/
#content > .container {
  margin: 0;
  width: 100%;
  max-width: 100%;

  display: flex;
  align-items: center;
}

.logo {
  width: 50%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    text-align: right;
  }
}

.login-container {
  width: 35%;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.login-container .btn {
  width: 100%;
  margin: 10px auto;
  text-transform: uppercase;
}

.login-container > form {
  margin-bottom: 0;
}

.login-container a, .login-container a:not([href]):not([class]) {
  float: right;
  text-decoration: underline;
  cursor: pointer;
}

.login-container > form > button {
  text-transform: uppercase;
}

.login-container > form h3 {
  grid-column: span 2;
  text-align: center;
  margin-top: 0;
}


/***********
  PROFILE
***********/
.content {
  background: #333;
  color: white;
}

.content button, .content input, .content textarea {
  height: 40px;
  padding: 5px;
  background: none;
  color: white;
  outline: none;
  border: 1px solid #666;
  border-radius: 10px;
}
.content button:hover {
  background: #444;
}
.content button:active {
  background: #222;
}

.content > .container {
  flex-direction: column;
  height: calc(100vh - 50px);
}

#content .navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;

  background: #ca6262;
}
.navbar ul {
  list-style-type: none;
  
  max-width: 540px;
  width: 100%;
  height: 50px; 
  padding: 0;
  margin: 0;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

.navbar li {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}
.navbar li[data-active] {
  background: #924040;
}
.navbar > ul > li:hover {
  background: #e98d8d;
  cursor: pointer;
}

.content {
  margin-top: 50px;
}

.new_message textarea {
  resize: none;
  width: 100%;
  height: fit-content;
}
.new_message button {
  width: 100%;
}
.reload_messages {
  margin: 10px auto;
}

.profile_information {
  color: #666;
}
.message .message_content {
  font-size: 1.1rem;
}
.messages {
  height: calc(100% - 100px);
}

/************
  HOME TAB
************/
.personal_information {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 80px;

  display: flex;
  column-gap: 10px;
  align-items: center;
}
.return {
  cursor: pointer;
}
#fullname {
  font-size: 1.5rem;
}
#gender {
  color: #666;
}

.reload_messages button {
  width: 100%;
  height: 40px;
  background: none;
  color: white;
  outline: none;
  border: 1px solid #666;
  cursor: pointer;
  border-radius: 10px;
}

.message_history {
  padding-bottom: 10px;
  max-height: calc(100% - 190px);
  overflow-y: auto;
}
.message_history .message {
  width: 80%;
  padding: 10px;
  border: 1px solid #666;
  margin-top: 5px;
}
.message_history .message.other {
  margin-left: auto;
}

.message_history > .message:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.message_history > .message:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.users > .user {
  font-size: 1.15rem;
  margin: 10px auto;
  padding-left: 10px;
}
.users > .user:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*************
  SEARCH TAB
*************/
.content form[name="search"] button {
  height: 100%;
  padding: 5px 15px;
}
.content form[name="search"] input {
  flex-grow: 1;
}
.content form[name="search"] {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/***************
  ACCOUNT TAB
***************/
.password-reset {
  display: grid;
  row-gap: 5px;
  max-width: 540px;
  margin: 0 auto;
}

#account h2, #account h3 {
  text-align: center;
}

#account .signout {
  max-width: 540px;
  margin: 30px auto 0 auto;
  width: 100%;
}

.btn.btn-signout {
  width: 100%;
}
